/* custom style sheet */
body {
  background-color: #9FA8DA;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}

/* .container */
.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.ctrl {

}

.break-ctrl, .session-ctrl {
  display: inline-block;
}

.break-ctrl {
}

.session-ctrl {
  margin-left: 120px;
}

input {
  border: none;
  background-color: #9FA8DA;
  width: 100px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}

/* .timer */
.timer {
  margin: 100px auto;
  height: 200px;
}

.sessionName {
  font-size: 2em;
}

.remain-len {
  margin-top: 10px;
  font-size: 3em;
}

/* .ctrl */
button {
  width: 100px;
}

.pause, .stop, .resume {
  display: none;
}

/* .credit */
.credit {
  margin-top: 50px;
}